@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+PT&family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    overflow: hidden;
}
#text
{
    position: relative;
    color: #fff;
    font-weight: 100;
    font-size: 10em;
    cursor: default;
}
#light
{
position: absolute;
transform: translate(-50%, -50%);
width: 50px;
height: 50px;
background: #fff;
border-radius: 50%;
box-shadow: 0 0 15px #fff,
0 0 50px #fff,
0 0 100px #fff,
0 0 200px #fff,
0 0 300px #fff;
}